<nb-layout>
  <nb-layout-header subheader id="header">
    <div class="inner">
      <div class="leftHeader">
        <h4>Payment Requests</h4>
        <ul class="headerMenu">
          <li class="first">All</li>
          <li>Outstanding</li>
          <li>Paid</li>
          <li>More <fa-icon class="mr-10" [icon]="chevronDown"></fa-icon></li>
        </ul>
      </div>
      <div class="rightHeader">
        <div class="search">
          <nb-icon icon="search" class="searchIcon"></nb-icon>

          <input type="search" placeholder="Search Payment Requests" />
        </div>
        <nb-icon icon="plus" class="plus"></nb-icon>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar left tag="left">
    <!-- <img src="assets/sidebar.png" alt="" srcset="" /> -->
  </nb-sidebar>

  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
    <!-- <div class="powered-by">
      <img src="../assets/logo.png" width="30px" />

      <p>Made in InVision</p>
    </div> -->
  </nb-layout-column>
  <nb-sidebar right tag="right"></nb-sidebar>
</nb-layout>
